
*{
  margin:0 ;
  padding: 0 ;
}

li{
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;

}

.visually-hidden{
  display: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #333;
}

.logo img{
 width: 40px;
 margin-left: 20px;

}

.gnb-list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;

}

.gnb-item a{
  font-weight: 700px;
}

.gnb-item a:hover{
  color: aqua;
  font-size: 20px;
  transition: all 400ms ease-in-out;

}
.gnb-item:hover{
  /* transform: rotate3d(1,3); */
  transform: rotate(90deg);
  transition: all 400ms ease-in-out;
  border: 5px solid yellow;
  font-size: 20px;
 

}

.background{
  height: 600px;
  background-image: url(./image/back.jpeg);
  background-position: center;
  /* background-size: ;
  background-repeat: ; */
  background-position: center;
  background-size: cover;

 }
 
 .front-txt {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
 }

 .front-title {
  font-size: 36px;
 }

 .front-content {
  font-size: 24px;
  margin-top: 30px;

 }

 .fornt-btn{
  padding: 10px 20px;
  border-radius: 10px; 
  margin-top: 30px;
  font-weight: 700;
  border: none;
 }

 .socond-txt {
  width: 500px;
  margin: 0 auto;
  color:#fff;
  background-color: #000;
  text-align: center;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #666;
 }

.top{
  margin-top: -100px;
}

 .socond-txt p{
  margin-top: 30px;
 }

 .post-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
 }

 .post-card {
  display : flex ;
  flex-direction: column ;
  justify-content: center ;
  text-align: center;
  width: 250px;
  height: 300px;
  color:#fff;
  background-color: #000;
  box-shadow: 5px 5px #000;
  border-radius: 20px;
  padding: 20px;
  margin-right: 30px;

 }

.post-card:last-child {
  margin-right: 0;
}
/* 마지막 상자를 클래스 안주고 마진주는 방법 */

 .post-card-txt{
  margin-top: 20px;
 }

 footer {
  background-color: #333;
  padding: 2px 0;
  margin-top: 120px;
 
 }

 .global-footer{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

 }

 .global-footer h3 {
   color: #fff;
   

 }

 .footer-list {
  display: flex;

 }

 .footer-item{
  margin-right: 20px;

 }

 .footer-item:last-child {
   margin-right: 0;
 }

 /* 여기서 부터 반응형으로 변화  */

  @media screen and (max-width: 1200px){
    
  .background{
  
    height: 500px;
    background-image: url(./image/applelogo.png);
    background-position: center;
    /* background-size: ;
    background-repeat: ; */
     /* background-repeat: repeat;
    background-size: cover; */

 }  

  .front-txt {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
 }
   

  .socond-txt {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color:rgb(22, 231, 116);
  background-color: rgb(219, 20, 20);
  text-align: center;
  font-size: 5px; 
/*    
   padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #666;  */
  }

 .post-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  
  flex-direction: column;
 }

 .post-card { 
   display : flex ;
  flex-direction: column ;
  justify-content: center ;
  text-align: center;
  width: 250px;
  height: 300px; 
   width: 100%;
  height: 100%;
  margin: 20px;

  color:rgb(236, 153, 28);
  background-color: rgb(19, 207, 240);
  
   box-shadow: 5px 5px #000;
  border-radius: 20px;
  padding: 20px;
  margin-right: 30px; 
 }
  }
/* 반응형 정답 */
